.bg-badan{
    background-image: url("https://w.wallhaven.cc/full/j5/wallhaven-j5mz95.png");
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
