.bg-badan{
    background-image: url("https://wallhaven.cc/w/j5mz95");
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}